@import "glyphs.css";

@media (prefers-color-scheme: dark) {
    .ios .toggle input[type=checkbox]:checked + .toggle-icon:before {
        background: #007bff !important;
    }

    .sp-preview input[type=checkbox]:not(:checked) + .toggle-icon {
        background: #39393e !important;
    }

    .sp-preview input[type=checkbox]:not(:checked) + .toggle-icon:before {
        background: #39393e !important;
    }

    .sp-preview .sp-header {
        background: #383837 !important;
        color: #fafafa !important;
        border-color: black !important;
    }

    .sp-preview .sp-header-action-count {
        color: #b1b1b0 !important;
    }

    .sp-container {
        background: #141414 !important;
    }

    .sp-container .card {
        color: white;
        background: #1d1d1d !important;
        border: 1px solid #303030;
    }

    .sp-container .sp-comment-action {
        background: #2a2416 !important;
    }

    .sp-container .sp-comment-action .sp-action-icon {
        color: #fed709 !important;
        background: #2a2416 !important;
    }

    .sp-container .sp-comment-action .sp-action-icon,
    .sp-container .sp-comment-action .sp-action-title {
        color: #fed709 !important;
    }

    .sp-container .sp-nothing-action .sp-action-icon {
        color: white !important;
    }

    .sp-container .sp-date-action .sp-action-icon {
        color: #ff453a !important;
        background: #3d2622 !important;
    }

    .sp-container .sp-url-action .sp-action-icon {
        color: #0b84ff !important;
        background: #202d3b !important;
    }

    .sp-container .sp-output-action .sp-output-surface-behavior {
        color: #9f9f9d !important;
    }

    .sp-container .sp-value.sp-unstyled-value {
        background: transparent !important;
        color: #ffffff !important;
    }

    .sp-container .sp-value {
        background: #1d232b !important;
        color: #007bff !important;
    }

    .sp-container .sp-variable-value {
        background: #1d222b !important;
        color: #007aff !important;
    }

    .sp-container .sp-placeholder-value {
        background: #1f242d !important;
        color: #1c69d5 !important;
    }

    .sp-container .sp-action-list-content {
        border-color: #252523 !important;
    }

    .sp-container .sp-action-list-content ul li:nth-child(even) {
        background: #2a2a29 !important;
    }

    .sp-container .sp-action-list-footer {
        border-color: #333231 !important;
        background: #292927 !important;
        color: #6e6e6d !important;
    }

    .sp-container .sp-scrollable-action-content {
        border-color: #2d2d2c !important;
    }

    .sp-container .card.sp-linked-action:before {
        background: #6f7178 !important;
    }
}

.ios .toggle input[type=checkbox]:checked + .toggle-icon:before {
    background: #007aff !important;
}

.sp-preview {
    all: initial;
    font-family: "SF Pro Text", system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-align: center;
}

.sp-preview .sp-container {
    background: #ebebeb;
    padding: 1.5rem;
}

.sp-preview .sp-sub-container {
    padding-left: 2rem;
}

.sp-preview .sp-header {
    padding: 1rem 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

.sp-preview .sp-header .sp-header-title {
    color: var(--f7-list-item-title-text-color);
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    place-content: center;
    place-items: center;
    text-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}

.sp-preview .sp-header .sp-header-action-count {
    color: #474746;
    font-size: 1rem;
    font-weight: 500;
}

.sp-preview .sp-header .shortcut-icon:after {
    margin-left: -22px;
}

.sp-preview .sp-actions-empty {
    padding: 10rem 0;
    text-align: center;
    color: #888888;
}

.sp-container .card {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0.8rem;
    font-size: 1rem;
}

.sp-container .card:not(.sp-linked-action) {
    margin-top: 1.8rem;
}

.sp-container .card.sp-linked-action:before {
    content: " ";
    background: #9a9ca4;
    width: 0.13rem;
    height: 0.9rem;
    top: -0.9rem;
    position: absolute;
}

.sp-container .sp-action-icon {
    display: flex;
    place-content: center;
    place-items: center;
    position: relative;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 0.30rem;
    background: #c7c7c7;
    user-select: none;
    pointer-events: none;
    line-height: 0;
}

.sp-container .sp-action-icon i {
    font-size: 1.2rem;
}

.sp-container .sp-date-action .sp-action-icon {
    color: #ff3b2f !important;
    background: #ffeeee !important;
}

.sp-container .sp-url-action .sp-action-icon {
    color: #007aff !important;
    background: #eaf1ff !important;
}

.sp-container .sp-comment-action {
    background: #fbf5e8;
}

.sp-container .sp-comment-action .sp-action-title {
    color: #ffbf00;
}

.sp-container .sp-output-action .sp-output-surface-behavior {
    text-align: left;
    font-weight: bold;
    color: #808080;
    margin: 0 16px;
    font-size: 0.9rem;
}

.sp-container .sp-output-action .sp-action-icon i {
    transform: rotate(180deg);
}

.sp-container .item-title {
    font-size: 0.9rem;
}

.sp-container .sp-action-title,
.sp-container .sp-action-title .sp-value,
.sp-container .sp-action-text {
    font-weight: bold !important;
}

.sp-container .sp-placeholder-value,
.sp-container .sp-value,
.sp-container .sp-variable-value {
    padding: 0 0.50rem;
    border-radius: 0.25rem;
}

.sp-container .sp-placeholder-value {
    background: #f2f7ff;
    color: #4694ff;
    user-select: none;
}

.sp-container .sp-value,
.sp-container .sp-variable-value {
    color: #067aff;
}

.sp-container .sp-value {
    background: #f4f7ff;
    font-weight: bold;
    font-size: 0.9rem;
}

.sp-container .sp-variable-value {
    background: #e2f0ff;
    padding: 0 5px;
    font-weight: bold;
    display: inline-grid;
    grid-template-columns: 0fr 1fr;
    place-items: center;
    place-content: center;
}

.sp-container .sp-variable-icon {
    width: 15px;
    height: 15px;
    background: #fc880f;
    color: white;
    margin-right: 0.25rem;
}

.sp-container .sp-variable-icon i {
    font-size: 0.7rem;
}

.sp-container .sp-scrollable-action-content {
    display: block;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    height: 5rem;
    text-align: left;
    min-width: 355px;
    word-break: break-word;
    white-space: normal;
    overflow-x: hidden;
    overflow-y: auto;
    padding: .3rem .5rem;
}

.sp-container .sp-scrollable-action-content .sp-placeholder-value {
    opacity: .3;
}

.sp-container .sp-value.sp-unstyled-value {
    border-radius: 0;
    background: none;
    color: inherit;
    font-weight: normal;
    padding: 0;
}

.sp-container .toggle {
    user-select: none;
    pointer-events: none;
}

.sp-container .sp-action-list-content {
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    margin-right: 15px;
    margin-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-list-in-list-padding-left) + 10px);
}

.sp-container .sp-action-list-content ul {
    padding: 0 !important;
    height: 7rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sp-container .sp-action-list-content ul li {
    text-align: left;
    padding: 5px 15px;
}

.sp-container .sp-action-list-content ul li:nth-child(even) {
    background: #f4f5f5;
}

.sp-container .sp-action-list-footer {
    display: block;
    border-top: 1px solid #dcdcdb;
    border-radius: 0 0 5px 5px;
    padding: 3px 15px;
    font-size: 1rem;
    text-align: left;
    background: #e6e6e5;
    color: #878787;
}
